

/* .CouponGetOne div#search {
	border: 2px solid black;
    margin: 20px 20px 50px 10px;
    padding: 10px;
    width: 500px;
    text-align: center;
}

.CouponGetOne input {
    width: 50px;
    margin: 0 20px 0 30px;
    height: 30px;
    font-size: 20px;
    box-sizing: border-box;
}

.CouponGetOne  button {
    box-sizing: border-box;
    border: 3px solid rgb(225, 22, 22);
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    background-color: darkgray;
}

.CouponGetOne button:hover {
    background-color: gray;
} */
